* {
    margin: 0;
    padding: 0;
}

.container {
    height: 40vh;
    width: 50%;
    margin: 5% 25%;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #fff;
}

.bar-container{   
    padding: 12px; 
    width: 100%;
    height: 300px;
    background-color: rgb(20, 26, 58);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    transform: rotate(180deg);
}

.bar {
    width: auto;  
}

.bar:after {
    content: '.';
    visibility: hidden;
}

.one {
    background-color: yellow;
}

.two {
    background-color:  orange;
    transform: translate(25,0);
}

.three {
    background-color: rgb(255, 0, 85);
    transform: translate(50,0);
}

.four {
    background-color:  rgb(223, 21, 145);
    transform: translate(75,0);
}

.five {
    background-color:  purple;
    transform: translate(100,0);
}

.button-container {
    padding: 5%;
    text-align: center;
    
}

.btn {
    margin: 3%;
    color: #fff;
    border-radius: 10px;
    width: 15%;
    padding: 1%;
    font-size: 1.2rem;
}

.btn, .git-btn:hover {
    cursor: pointer
}

#start-btn {
    background-color: green;    
}

#stop-btn {
    background-color: red;
}

.git-btn {
    border-radius: 5px;
    width: auto;
    background-color: rgb(50, 50, 243);
    color: #fff;
    font-size: 1rem;
    letter-spacing: 1.5px;
    padding: 1%;
    margin: 2%;
}

@keyframes equalize {
    0% {
      height: 60%;
    }
    4% {
      height: 50%;
    }
    8% {
      height: 40%;
    }
    12% {
      height: 30%;
    }
    16% {
      height: 20%;
    }
    20% {
      height: 30%;
    }
    24% {
      height: 40%;
    }
    28% {
      height: 10%;
    }
    32% {
      height: 40%;
    }
    36% {
      height: 60%;
    }
    40% {
      height: 20%;
    }
    44% {
      height: 40%;
    }
    48% {
      height: 70%;
    }
    52% {
      height: 30%;
    }
    56% {
      height: 100%;
    }
    60% {
      height: 30%;
    }
    64% {
      height: 50%;
    }
    68% {
      height: 60%;
    }
    72% {
      height: 70%;
    }
    76% {
      height: 80%;
    }
    80% {
      height: 70%;
    }
    84% {
      height: 100%;
    }
    88% {
      height: 50%;
    }
    92% {
      height: 60%;
    }
    96% {
      height: 70%;
    }
    100% {
      height: 80%;
    }
  }


  @media screen and (max-width: 786px) {
      .btn {
          margin: 8%;
          padding: 5%;
          width: 70%;
      }

      .git-btn {
          padding: 3%;
      }
  }